/* Custom cluster styles */
.marker-cluster {
  background-color: rgba(110, 204, 57, 0.6);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: rgba(110, 204, 57, 0.8);
}

.marker-cluster span {
  line-height: 30px;
  color: white;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(181, 226, 140, 0.8);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(241, 211, 87, 0.8);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(253, 156, 115, 0.8);
}